@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Calendar Demo</h1>
    <p>This site contains a calendar demo based on ASP.NET MVC, Entity Framework, Bootstrap, Angular and Metronic.</p>
    <p>See the link to the calendar sample on the top right corner.</p>
</div>
