<div id="meeting-details" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Meeting Details</h3>
            </div>
            <form name="meetingDetailsForm" class="form-horizontal" novalidate>
                <div class="modal-body">
                    <section class="form-group">
                        <label class="col-md-3">ID</label>
                        <div class="col-md-9">
                            <input class="form-control"
                                   name="ID"
                                   value="{{id}}"
                                   disabled>
                        </div>
                    </section>
                    <section class="form-group">
                        <label class="col-md-3">Meeting Title</label>
                        <div class="col-md-9">
                            <input class="form-control"
                                   name="MeetingTitle"
                                   placeholder="Meeting Title"
                                   type="text"
                                   required>
                        </div>
                    </section>
                    <section class="form-group">
                        <label class="col-md-3">Meeting Description</label>
                        <div class="col-md-9">
                            <input class="form-control"
                                   name="MeetingDescription"
                                   placeholder="Meeting Description"
                                   type="text"
                                   required>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Delete</button>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>