<div>
    <form>
        <input type="radio" ng-model="model.calMode" ng-change="changeCalMode()" value="combined" />Combined<br />
        <input type="radio" ng-model="model.calMode" ng-change="changeCalMode()" value="separate"/>Separate<br />
        <hr />
        <div ng-repeat="layer in rBook.calendarLayers">
            <input type="checkbox"
                   ng-disabled="model.calMode === 'combined'"
                   ng-model="model.calendarLayerSelected[$index]"
                   ng-change="changeCalLayers()"
            />{{layer.description}}<br/>
        </div>
        <hr />
        <div>
            <div>Edit</div>
            <form>
                <input type="radio" ng-model="model.editArea" value="meetings">meetings<br/>
                <input type="radio" ng-model="model.editArea" value="freeSlots" checked>free slots<br/>
            </form>
        </div>
    </form>
</div>
