<style>
    .portlet.calendar .fc-event {
        border: 1px solid #888;
    }
</style>
<div class="portlet box green-meadow calendar">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Calendar
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <reservation-calendar-controls></reservation-calendar-controls>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="calendar-body" ng-class="{mobile: isMobile}"></div>
                <div>
                    <div class="calendar-event">
                        <meeting-details></meeting-details>
                    </div>
                </div>
            </div>
        </div>
    </dív>
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <reservation-calendar-controls></reservation-calendar-controls>
</div>
</div>
</div>
</div>